services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
  api:
    build: .
    ports:
      - "8000:8000"
    command:
      [
        "uvicorn",
        "app.main:app",
        "--host",
        "0.0.0.0",
        "--port",
        "8000",
        "--reload",
      ]
