fastapi
uvicorn
python-dotenv
pydantic-settings

pytest
pytest-asyncio

requests
beautifulsoup4
pdfplumber
chardet
pandas

qdrant-client
sentence-transformers
python-multipart
structlog
redis 
celery

prometheus-client
# ragas==0.4.3
# datasets


llama-index
llama-index-vector-stores-qdrant 
llama-index-embeddings-huggingface 
llama-index-readers-file

pyyaml==6.0.1
